<!--
  ~ Copyright (c) 2026 Timotej Adamec
  ~ SPDX-License-Identifier: MIT
  ~
  ~ This file is part of the thesis:
  ~ "Multiplatform snagging system with code sharing maximisation"
  ~
  ~ Czech Technical University in Prague
  ~ Faculty of Information Technology
  ~ Department of Software Engineering
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="org.koin" level="INFO"/>
</configuration>
